<!DOCTYPE html>
<html>
<head>
  <title>Surge</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <h1>Team Manager</h1>

    <p><%= link_to("Log In","/login") if !logged_in? %></p>
  <% if logged_in?  %>
    <p><%= link_to("Log Out", "/session", method: "delete") %></p>
    <p><%= link_to("#{User.find_by(id: session[:user_id]).email}", user_path(current_user)) %></p>
    <% end %>


<%= yield %>

</body>
</html>
