<!DOCTYPE html>
<html>
<head>
  <title>Surge</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <h1>Team Manager</h1>

    <p><%= link_to("Please Log In!","/login") if session[:user_id].nil? %></p>
  <% unless session[:user_id].nil?  %>
    <p><%= link_to("Log Out #{User.find_by(id: session[:user_id]).email}", "/session", method: "delete") %></p>
    <% end %>


<%= yield %>

</body>
</html>
